<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Amherst Runs</title>

    <link rel="stylesheet" href="{% static 'css/master.css' %}"/>

    {% block style %}
    {% endblock %}

  </head>

  <body>
    {% block first %}

    {% endblock %}
    <header class="banner">

      <nav class="menu">
        <ul>
          <li class="home"><a href="/home">Home</a></li>
          <li class="short"><a href="/short">Short</a></li>
          <li class="medium"><a href="/medium">Medium</a></li>
          <li class="long"><a href="/long">Long</a></li>
          <li class="truely-long"><a href="/truely-long">Long Run</a></li>
          <li class="destination"><a href="/destination">Destination</a></li>
        </ul>
      </nav>

      {% block banner %}

      {% endblock %}

    </header>

    <div class="page">
      {% block content %}

      {% endblock %}
    </div>

    <footer>

    </footer>

    {% block js %}
    {% endblock %}

  </body>
