{% extends 'main/base.html' %}
{% load static %}


{% block style %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block banner %}
  <div class="title">
    <h1>A Guide to Amherst Running</h1>
  </div>
{% endblock %}

{% block content %}

<div class="index-container">
  <div class="index">

    <h1>Route Index</h1>

    <div class="index-table">

      <div class="index-column">
        <a href="/short"><h2>Short (< 6)</h2></a>

        <ul>
          <li>Room of Requirement</li>
          <li>Tuttle</li>
          <li>Field Loop</li>
          <li>Town Loop</li>
          <li>McClellan</li>
          <li>Mill</li>
          <li>Misty</li>
          <li>Wentworth</li>
          <li>Brickyard</li>
          <li>Hitch</li>
          <li>Observatory</li>
          <li>Value Meal</li>
          <li>Cemetery</li>
          <li>Strong</li>
          <li>Shays</li>
        </ul>

      </div>

      <div class="index-column">
        <a href="/medium"><h2>Medium (6-10)</h2></a>

        <ul>

          <li>Car Graveyard</li>
          <li>Forbidden Forest</li>
          <li>Umass</li>
        	<li>Zen Circle</li>


        	<li>Puffers</li>
        	<li>Soft Puffers</li>
        	<li>Pine St</li>
        	<li>Pulpit</li>


          <li>Smelly Cow</li>
          <li>Potwine</li>
          <li>Soft Potwine</li>
          <li>Narnia</li>
          <li>Monster Mash</li>
          <li>Harkness</li>
          <li>Dankness</li>
          <li>Amherst Woods</li>
        </ul>

      </div>

      <div class="index-column">
        <a href="/long"><h2>Long (10-14)</h2></a>

        <ul>
          <li>Fraggle</li>
          <li>Short Teawaddle</li>
          <li>Meeting House</li>
          <li>Brokeback</li>
        	<li>Short Brokeback</li>
        	<li>Flat Hills</li>
        	<li>J Hills</li>
          <li>Jugglers</li>
        	<li>Short Jugglers</li>
        	<li>Plum Trees</li>
          <li>Bay Road</li>
          <li>Vamp Trails</li>
          <li>Mailbox Run</li>
          <li>Peruvian</li>
          <li>Napalm</li>
        </ul>

      </div>

      <div class="index-column">
        <a href="/truely-long"><h2>Long Run (14+)</h2></a>

        <ul>
          <li>Teawaddle</li>
          <li>Long Plum Trees</li>
          <li>Wicked Eggs</li>
          <li>Dreamland</li>
        </ul>

        <div class="space"></div>

        <hr>

        <div class="space"></div>

        <a href="/destination"><h2>Destination</h2></a>

        <ul>
          <li>Green River Road</li>
          <li>Ashley Reservoir</li>
          <li>Northampton Airport</li>
        </ul>

      </div>


    </div>
  </div>

</div>

<div class="notes-container">
  <div class="notes">
    <h1>Editor's Notes</h1>

    <div class="notes-table">

      <div class="index-column">
        <h2>Editor's Pick</h2>

        <ul>
          <li>Brokeback</li>
          <li>Room of Requirement</li>
          <li>Teawaddle</li>
          <li>Fraggle</li>
          <li>Misty</li>
          <li>Meeting House</li>
          <li>Vamp Trails</li>
        </ul>
      </div>

      <div class="notes-column">

        <p>Welcome! We made this guide because too many of you have been resorting to bike path OABs and UMass loops to get your mileage in. Amherst has some of the best running you could find at an east coast school so take advantage of it. Instead of doing Town Loop and Strong for your short days, go over to the Wentworth Farm, Brickyard Conservation, or Larch Hill Conservation (Hitch) for miles of soft surfaces just minutes away. Further to the east, we have the Amethyst Brook Conservation if you want to go on a longer, more adventurous trail run. On your long runs, sprinkle in some dirt roads by the Atkins Reservoir, or go view hunting at the Mount Warren trails or up the Mount Pollux tack.</p>

        <p>Some of these routes have been passed down for generations; others are newly charted. Use them, improve them, and add your own new routes.</p

        <p>A gift from the original class of 2021. AS BM BS JM.</p>
      </div>

    </div>

  </div>
</div>

{% endblock %}
