/* Banner */
.banner {
  height: 300px;
}

/* Runs */
.run-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.run {
  width: 75%;
}

.run h1 {
  text-align: left;
  width: 100%;
}

.run p {
  text-align: left;
  padding-top: 1em;
  width: 100%;
}

.run a:link,
.run a:visited {
  text-decoration: none;
  color: #9654ff;
}
.run a:hover,
.run a:visited:hover,
.run a:active,
.run a:visited:active {
  color: #debdff;
  /* text-decoration: underline; */
}

.map {
  width: 100%;
  height: 500px;
  padding-top: 1em;
}


@media only screen and (max-width: 750px) {
  .run-container {

    width: 100%;
    padding: .25em;
  }

  .run {
    width: 100%;
  }


  .run p {
    padding-top: 1em;
    width: 100%;
  }

  .map {
    width: 100%;
    height: 80vh;
    padding-top: 1em;
  }


}
